*.log
*.docx
*.docx:Zone.Identifier
:Zone.Identifier
.DS_Store
.env
.env.backup
.env.production
docker-compose.override.yml
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.opencode
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/*.md
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/plan.md
/netsh-cmd.bat
/opencode.json
.env.new
/app/Mail/UnisenderTransport.php
assign_tariff.php
composer
/docker/nginx/ssl/
test_mail.php
test_mobileid.php
test_smtp.php
/lang/
